@import "./variables";

@mixin cta {
  @include transition;
  display: block;
  padding: $gutter/2 $gutter;
  color: #fff;
  background: $brand-primary;
  border: solid 2px $brand-primary;
  font-size: 1.1rem;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  overflow: hidden;

  &:before {
    @include transition(left);
    content: '';
    width: 120%;
    height: 120%;
    background: $brand-secondary;
    position: absolute;
    top: -10%;
    left: -130%;
    transform: skew(-10deg, 0);
    pointer-events: none;
    z-index: 1;
  }

  span {
    position: relative;
    z-index:3;
  }

  &:hover {
    color: $brand-primary;

    &:before {
      left: -10%
    }
  }
}

@mixin section {
  padding: $gutter * 2;
}

@mixin section-title {
  padding-left: $gutter/2;
  line-height: 1.3;
  font-size: 2.5rem;
  position: relative;
  margin-bottom: $gutter * 2;
  font-weight: 300;
  margin-top: 0;
  display: block;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    background-color: $brand-secondary;
  }

  span {
    font-size: 0.5em;
    display: block;
    width: 100%;
  }
}

@mixin transition(
  $prop : all,
  $duration : 0.3s,
  $ease : ease-out
) {
  transition: $prop $duration $ease;
  backface-visibility: hidden;
}
