@import "../../styles/variables";
@import "../../styles/mixins";

.abilities {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-gap: $gutter;

  @media all and (max-width: 1100px) {
    grid-template-columns: 1fr;
  }

  &__container {
    background: #f4f4f4;
  }

  &__copy-container {
    @media all and (max-width: #{$sm-breakpoint}) {
      display: none;
    }
  }

  &__group {
    transform: translateY(-20px);

    &:last-child {
      .abilities__group__trigger {
        border-bottom: none;
      }
    }

    &__content {
      @include transition(max-height);
      max-height: 0;
      overflow: hidden;
      background-color: #ddd;
      box-sizing: content-box;

      &__wrapper {
        padding: $gutter;
        padding-bottom: $gutter/2;
        background-color:#e3e3e3;
      }

      &--open {
        max-height: 500px
      }
    }

    &__trigger {
      width: 100%;
      padding: 20px $gutter/2;
      background-color: transparent;
      border: none;
      font-size: 1.25rem;
      text-align: left;
      border-bottom: solid 1px #333;
      position: relative;
      font-weight: 700;
      cursor: pointer;
      outline: none;

      &:after {
        @include transition(transform);
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='306px' height='306px' viewBox='0 0 306 306' style='enable-background:new 0 0 306 306;' xml:space='preserve'%3E%3Cg id='expand-more'%3E%3Cpolygon points='270.3,58.65 153,175.95 35.7,58.65 0,94.35 153,247.35 306,94.35 '/%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 10px 10px;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 50%;
        right: 5px;
        margin-top: -5px;
      }

      &--open {
        &:after {
          transform: rotate(180deg);
        }
      }

    }
  }

  &__title {
    font-size: 1.4rem;
    font-weight: 800;

  }
}

.ability {
  width: 100%;
  margin-bottom: 20px;

  &__bar {
    width: 100%;
    height: 8px;
    background: #999;
    border-radius: 4px;
    overflow: hidden;

    &__indicator{
      height: 8px;
      background: #000;
      border-radius: 4px;
    }
  }

  &__label {
    margin-bottom: 10px;
    span {
      font-size: 0.8em;
    }
  }
}
