@import '../styles/normalize';
@import '../styles/variables';

.main-layout {
  display:grid;
  grid-template-columns: $sidebar-width 1fr;
  min-height: 100vh;

  @media all and (max-width: #{$sm-breakpoint}) {
    grid-template-columns: minmax(200px, 1fr);
    grid-template-rows: 1fr;
  }
}
