@import "../styles/variables";
@import "../styles/mixins";

.work-page {
  @include section;
  max-width: 1080px;
  margin: 0 auto;

  @media all and (max-width: #{$sm-breakpoint}) {
    padding-top: $gutter * 2 + $sidebar-mobile-height;
  }

  &__content {
    display: grid;
    grid-template-columns: 350px 1fr;

    @media all and (max-width: #{$sm-breakpoint}) {
      grid-template-columns: 1fr;
    }
  }

  &__details {
    @media all and (max-width: #{$sm-breakpoint}) {
      margin-bottom: $gutter*2;
    }
  }

  &__gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: $gutter * 2;
    padding-top: $gutter * 2;
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    margin-bottom: $gutter * 2;
    padding-bottom: $gutter * 2;


    &__item {
      margin-bottom: $gutter/2;
      width: 100%;

      img {
        width: 100%;
      }
    }
  }

  &__meta {

    @media all and (max-width: #{$sm-breakpoint}) {
      width: 400px;
    }

    &__item {
      margin-bottom: $gutter/3;
      display: grid;
      grid-template-columns: 1fr 1fr;

      a {
        color: #333;
      }
    }
  }

  &__title {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: $gutter;
  }
}
